.storyCard {
  margin-top: .5rem;
  width: 70px;
  height: 95px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  margin-left: 1rem;
}
.imageWrapper {
  width: 65px;
  height: 65px;
  border-radius: 50px;
  overflow: hidden;
  border: 2px solid #1F2128;
  outline: 3px solid #F2DE2F;
}
.light .imageWrapper {
  border-color: #fff;
  outline-color: #7738FF;
}
.seen {
outline: 3px solid #6d6d6d;
}
.light .seen {
  outline-color: #EEE3E5;
}
.imageWrapper img {
 width: 100%;
 height: 100%;
 object-fit: cover;
}
.username {
  font-size: .8rem;
  
}